# Genomic input data
*.fna
*.fasta
*.fa
*.gbk
*.gff
*.json
*.zip

# Pipeline outputs
batches/*
output/
cache/
logs/
SVG/
network_files/

# Allow example test batch input
!batches/short_batch_test/
!batches/short_batch_test/input/
!batches/short_batch_test/input/**

# antiSMASH / BiG-SCAPE HTML assets
index.html
regions.js
css/
js/
images/

# Pfam 
pfam/


# Docker
*.log
*.tmp

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc